<div class="row">
    <div class="large-6 columns">
      <div class="signup-panel">
        <h1 class="welcome"> Sign Up For Moviegur!</h1>
        <%= form_for @user do |f| %>
          <% if @user.errors.any? %>
            <div class="error_messages">
              <h2>Form is invalid</h2>
              <ul>
                <% for message in @user.errors.full_messages %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="row collapse">
            <div class="small-10  columns">
              <%= f.label :email %><br/>
              <%= f.text_field :email %>
            </div>
          </div>
          <div class="row collapse">
            <div class="small-10 columns ">
              <%= f.label :password %><br/>
              <%= f.password_field :password %>
            </div>
          </div>
          <div class="row collapse">

            <div class="small-10  columns">
              <%= f.label :password_confirmation %><br/>
              <%= f.password_field :password_confirmation %>
            </div>
          </div>

        <div class="actions"><%= f.submit %></div>
        
      </div>
    </div>
   </div>    

   <% end %>          