<h2>Add a Review</h2>

<%= form_for ([@review, @review.comment.build]) do |f| %>

<p>
  <%= f.label :commenter %> <br>
  <%= f.text_field :commenter %>
</p>

<p>
  <%= f.label :body %>
  <%= f.text_area :body %>

</p>
<p>
<%= f.submit %>
</p>
<% end -%>


<%= link_to 'Back', review_path %>
<%= link_to 'Edit', edit_review_path(@review) %>