<p class="notice"></p>

<p>
  <strong>Content:</strong>
  <%= @review.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @review.user %>
</p>

<p>
  <strong>Movie:</strong>
  <%= @review.movie %>
</p>

<%= link_to 'Back', review_path %>
<%= link_to 'Edit', edit_review_path(@review) %>